<!--<p>-->
<!--  <strong>Название теста:</strong>-->
  <%#= @question.test.title %>
<!--</p>-->
<!--<p>-->
<!--  <strong>Уровень:</strong>-->
  <%#= @question.test.level %>
<!--</p>-->
<!--<p>-->
<!--  <strong>Категория:</strong>-->
  <%#= test_category(@question.test) %>
<!--</p>-->
<p>
  <strong>Формулировка вопроса:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Варианты ответов</strong>
</p>
<%= link_to 'Добавить вариант ответа', new_question_answer_path(@question) %>
<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Вернуться к тесту', test_questions_path(@question.test_id) %> |
<%= link_to 'Редактировать', edit_question_path(@question.test_id) %>