<tr>
  <td><%= badge.name %></td>
  <td><%= image_tag('/public/badges/' + badge.picture, size: "100", alt: badge.picture.to_s) %></td>
  <td><%= badge.rule_name %></td>
  <td><%= badge.parameter %></td>
  <td>
    <%= link_to t('.edit'), edit_admin_badge_path(badge), class: 'btn btn-outline-success btn-sm' %>
  </td>
  <td>
    <%= link_to t('.delete'), admin_badge_path(badge), method: :delete, data: { confirm: t('.confirm')}, class: 'btn btn-outline-danger btn-sm' %>
  </td>
</tr>