<div class="container card-body">
  <%= form_with model: [:admin, @badge], local: true do |form| %>
    <%= render 'shared/errors', resource: @badge %>
    <div class="form-group col-md-4">

      <%= form.label :name, class: 'col-form-label' %>
      <%= form.text_area :name, id: :name, class: 'form-control' %>
      <br>
      <%= form.label :picture, class: 'col-form-label' %>
      <%= form.select :picture, @badge.images_names, {prompt: true}, {class: 'form-control'} %>
      <br>
      <span class='col-form-label'>Правило и параметр</span>
      <% @rules.each do |rule| %>
        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <%= form.radio_button :rule_name, rule[:name] %>
            <%= rule[:name] %>

            <% rule[:parameter].each do |item| %>
              <div class="list-group-item">
                <%= form.radio_button :parameter, item %>
                <%= item %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <br>
      <%= form.submit class: 'btn btn-warning btn-sm' %>

    </div>
  <% end %><br>
  <%= link_to t('.back'), admin_badges_path, class: 'btn btn-dark btn-sm' %>
</div>