<h2><%= t('.header', title: @test_passage.test.title) %></h2>

<p>
  <% if @test_passage.success? %>
    <h3><%= t('.good') %>></h3>
    <% color = 'green' %>
  <% else %>
    <h3><%= t('.bad') %></h3>
    <% color = 'red' %>
  <% end %>
  <strong style="color: <%= color %>">
    <%= t('.result', result: @test_passage.result_in_percent) %>%
  </strong><br>
  <%= t('.this') %><strong>
        <%= t('.score', only: @test_passage.correct_questions, total: @test_passage.test.questions.count) %>
      </strong><%= t('.right_answers') %>
</p>
<%= link_to t('.back'), tests_path %>