<h1 class='nav header'>
  <%= link_to 'TestGuru', tests_path %>
</h1>
<%= link_to t('.admin_panel'), admin_tests_path if user_signed_in? && current_user.admin? %>
<% if user_signed_in? %>
  <p class='nav user'><%= t('.welcome') %>, <strong><%= current_user.email %></strong></p>
  <p class='nav user'>
    <%= link_to t('.exit'), destroy_user_session_path, method: :delete, data: { confirm: t('.confirm')} %>
  </p>
<% end %>