<nav class="navbar navbar-light" style="background-image: linear-gradient(to right, #f9d423 0%, #f58005 100%);">
  <div class="container">
    <div>
      <%= link_to 'TestGuru', tests_path, class: 'navbar-brand' %>
      <%= link_to t('.admin_panel'), admin_tests_path, class: 'navbar-text' if user_signed_in? && current_user.admin? %>
      <% if user_signed_in? %>
    </div>
      <div class='navbar-text'>
        <%= t('.welcome') %>, <strong><%= current_user.email %></strong> |
        <%= link_to t('.exit'), destroy_user_session_path, method: :delete, data: { confirm: t('.confirm')} %>
      </div>
    <% end %>
  </div>
</nav>