<h2>Вопрос</h2>
<p>
  <h3><%= @answer.question.body %></h3>
</p>
<p>
  <strong>Вариант ответа:</strong>
  <%= @answer.body %>
</p>
<p>
  <strong>Правильность:</strong>
  <i><%= @answer.correct %></i>
</p>

<%= link_to 'Редактировать', edit_admin_answer_path(@answer) %> |
<%= link_to 'Назад', admin_question_path(@answer.question.id) %>
