<%= form_for(:feedback, url: feedbacks_path, locale: true) do |f| %>

  <div class="form-group col-md-10">
    <%= f.label :topic, t('.topic'), class: 'col-form-label font-weight-bold' %>:
    <%= f.select :topic, [t('.general_question'), t('.problem'), t('.advice'), t('.thanks')] %>
    <br />
    <%= f.label :message_text, t('.message_text'), class: 'col-form-label font-weight-bold' %>:
    <%= f.text_area :message_text, cols: 60, class: 'form-control' %>
    <br />
    <%= f.submit t('.send'), class: 'btn btn-info btn-sm' %>
  </div>
<% end %>
