<div class="container">
  <h1><%= t('.header') %></h1>

  <%= link_to t('.new_test'), new_admin_test_path, class: 'btn btn-dark btn-sm' %>

  <table class="table text-center">
    <thead class="thead">
      <tr>
        <th class="sort-by-title pointer">
          <%= Test.human_attribute_name(:title) %>
          <%= octicon 'arrow-up', class: 'text-success hide align-middle', height: 32 %>
          <%= octicon 'arrow-down', class: 'text-success hide align-middle', height: 32 %>
        <th><%= Test.human_attribute_name(:level) %></th>
        <th><%= Test.human_attribute_name(:category) %></th>
        <th><%= t('.table_count_question') %></th>
        <th colspan="3"><%= t('.table_actions') %></th>
      </tr>
    </thead>
      <%= render @tests %>
  </table>
</div>