<p>
  <strong><%= Test.human_attribute_name(:title) %>:</strong>
  <%= @test.title %>
<br>
  <strong><%= Test.human_attribute_name(:level) %>:</strong>
  <%= @test.level %>
<br>
  <strong><%= Test.human_attribute_name(:category) %>:</strong>
  <%= @test.category.title %>
</p>

<%= render 'admin/questions/question', questions: @test.questions %>
<br>
<%= link_to t('.back'), admin_tests_path %> |
<%= link_to t('.edit_test'), edit_admin_test_path %> |
<%= link_to t('.add_question'), new_admin_test_question_path(@test) %>