<div class="container">
  <h1><%= t('.header') %></h1>

  <table class="table">
    <thead class="thead">
      <tr>
        <th class="sort-by-title pointer">
          <%= Test.human_attribute_name(:title) %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= Test.human_attribute_name(:level) %></th>
        <th><%= Test.human_attribute_name(:category) %></th>
        <th><%= t('.table_count_question') %></th>
        <th><%= t('.table_actions') %></th>
      </tr>
    </thead>

    <%= render @tests %>

  </table>
</div>