<p>
  <strong>Название теста:</strong>
  <%= @test.title %>
<br>
  <strong>Уровень:</strong>
  <%= @test.level %>
<br>
  <strong>Категория:</strong>
  <%= @test.category.title %>
</p>

<%= render 'questions/question', questions: @test.questions %>
<br>
<%= link_to 'Назад', tests_path %> |
<%= link_to 'Редактировать тест', edit_test_path %> |
<%= link_to 'Добавить вопрос', new_test_question_path(@test) %>